.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form{
  padding: 10px;
  border: 1px solid #757575;
  /* background: rgb(41, 35, 35); */
}
button{
  border: none;
  background: none;
  cursor: pointer;
  color: #757575 ;
  padding: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #757575;
}